@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* body styling */
body {
font-family: 'Montserrat', sans-serif;
}
/* end body styling */

/* colors */
.yellow {
    background-color: #F7DE6A; /* the house style yellow color */ 
    border-color: #F7DE6A; /* the house style yellow color */
}

.yellow:hover {
  background-color: #C5B054;
  border-color: #C5B054;
}
/* end colors */